.banner {
  width: 400px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid rgba(26, 26, 27, 0.732);
  box-shadow: 2px 2px 8px rgb(5, 24, 67);
  display: flex;
  align-items: center;
  padding: 10px;
}

.banner #main-logo {
  height: 65px;
}
.banner #banner-title {
  margin-top: 60px;
  color: rgb(223, 219, 219);
}
.banner h2 {
  font-size: 28px;
  font-family: sans-serif, Arial, Helvetica;
  font-style: italic;
}
